body {
    background-color: #ddd;
    font-family: "Helvetica Neue", sans-serif;
    color: #000000;
    line-height: 1.5;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img{
    margin-top: 5%;
    max-width: 30%;
    border-radius: 50%;
    border-style:double;
}

p {
    text-align: justify;
    border: #000000;
}

.page-container {
    width: 21cm;
    max-width: 100%;
    margin: 0 0 0 0;
    padding: 2cm;
    background: linear-gradient(to right, #d3910da6, #b9a853e7);
    border-radius: 10px;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    flex: 1;
}

h1, h2 {
    color: rgb(238, 12, 12);
}

section {
    margin-top: 0;
    padding-bottom: 5px;
    border-top: solid 10px gray;
}

footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
